/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #fff;
}

.App {
  text-align: center;
}


/* Home.css */

#home {
  text-align: left;
  padding: 10px;
}

.content-container {
  max-width: 1500px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 400px;
}

.desc {
  align-items: center;
}

h3 {
  text-align: left;
  font-size: 2em;
}

h1 {
  text-align: left;
  font-size: 2.5em;
}

h4 {
  text-align: left;
}

.animation-container {
  float: right;
  align-items: center;
}

.animation-gif {
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 5px;
}



/* About.css */

#about {
  text-align: left;
  padding: 20px;
}

#abouth3 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff; 
}

#abouth1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #0906ba; 
  text-align: center;
}

#abouth2 {
  font-size: 1.5em;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #fff; 
  text-align: left;
}

#abouth4 {
  font-size: 1.25em;
  margin-left: 100px;
  margin-bottom: 20px;
  color: #fff; 
  text-align: left;
}

.about-content {
  max-width: 1500px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 200px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 15px;
  text-align: left;
}

.image-container {
  float: right;
  align-items: right;
}

.profile-image {
  align-items: right;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 200px;
}


/* Projects.css */

#projects {
  background-color: #000000;
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

/* Skills.css */

#skills {
  background-color: #000000;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

/* Contact.css */

#contact {
  text-align: left;
  padding: 20px;
}

#conth3 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff; 
}

#conth1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #0906ba; 
  text-align: center;
}

#conth2 {
  font-size: 1.5em;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #fff; 
  text-align: left;
}

#conth4 {
  font-size: 3em;
  margin-left: 300px;
  margin-bottom: 20px;
  color: #fff; 
  text-align: left;
}

.contact-content {
  max-width: 1500px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 200px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 15px;
  text-align: left;
}

/* Button.css */

.square-button {
  display: inline-block;
  height: 30px; /* Set the height */
  width: 150px; /* Set the width */
  padding: auto;
  background-color: #0906ba;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}

.square-button:hover {
  background-color: #3088d0; /* Change color on hover */
}



/* Footer.css */

footer {
  background-color: #0906ba; /* Dark background color for the footer */
  color: #080000; /* White text color */
  padding: 10px;
  text-align: center;
}

/* Header.css */

header {
  background-color: #0906ba; /* Adjust the background color as needed */
  padding: 10px 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

a {
  color: white; /* Adjust the link text color */
  text-decoration: none;
  margin: 0 15px; /* Adjust the spacing between links */
  font-size: 16px; /* Adjust the font size */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}


